#board {
    display: flex;
    flex-direction: column;
    width: 300px;
}
  
.fila {
    display: flex;
    width: 300px;
}
  
.celda {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: blueviolet;
}
.derecha{
    background-color: red;
}
  