*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}
body{
    height: 100vh;
    max-height: 100vh;
}
#error{
    position: relative;
    top: 50px;
    text-align: center;
    color: red;
    width: auto;
}
#contenedor{
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px lightgray;
}
#contenedor{
    margin-top: 60px;
}
div{
    padding: 10px;
    margin: 120px auto;
    width: 30%;
    height: 600px;
}
div p:first-child{
    font-weight: bolder;
    font-size: 43px;
    text-align: center;
}

form div{
    position: relative;
    top: -50px;
    width: 100%;
    height: 50px;
    
}
form div:nth-of-type(2){
    top: -100px;
}
form #repcontraseña{
    top: -180px;
}

div label{
    display: inline-block;
    position: absolute;
    left: 0px;
}
div input{
    display: inline-block;
    position: absolute;
    right: 40px;
    width: 40%;
}
.form-control{
    width: 40%;
}
#enviar{
    position: relative;
    top: -250px;
    right: 20%;
    margin: 0 auto;
}
#enviar input{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#correoInput{
    width: 60%;
}
.incorrecto{
    border: 2px solid red;
}

.correcto{
    border: 2px solid green;
}

.muyDebil:focus{
    border: 2px solid red;
    background-color: lightcoral;
}

.muyDebil{
    border: 2px solid red;
    background-color: lightcoral;
}
.debil:focus{
    border: 2px solid red;
}
.debil{
    border: 2px solid red;
}
.aceptable:focus{
    border: 2px solid orange;
}
.aceptable{
    border: 2px solid orange;
}

.segura:focus{
    border: 2px solid green;
}
.segura{
    border: 2px solid green;
}
.muySegura:focus{
    border: 2px solid green;
    background-color: lightgreen;
}
.muySegura{
    border: 2px solid green;
    background-color: lightgreen;
}

#enviar input:hover{
    transform: scale(1.1);
}




