*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border: 4px;
    color: black;
    border-radius: 10px;
}

.element{
    width: 20%;
}

